@charset "utf-8";
html { background:#ededed; }
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, fieldset, form, input, select, textarea, figure ,div,form,img,ul,ol,li,i,b,table,tr,td,th,fieldset,label,legend{ margin:0;padding:0;}
body { font-size: 12px; font-family: "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", Tahoma, Arial, STHeiti, sans-serif; color: #333333; font-weight:normal; font-style:normal;}
body, div, td, th{white-space:nowrap;}
.wsNormal,.wsNormal div,.wsNormal table,.wsNormal p,.wsNormal span,.wsNormal h1,.wsNormal h2,.wsNormal h3,.wsNormal h4,.wsNormal h5,.wsNormal h6,.wsNormal b,.wsNormal tr,.wsNormal td,.wsNormal th,.wsNormal ul,.wsNormal li,.wsNormal b,.wsNormal a{white-space:normal !important; word-break:break-all;}
ul, ol, menu { list-style: none; margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, a img, iframe { border: 0 none; }
address, em, i { font-style: normal; }
input, select, button,textarea { vertical-align: middle;font-size: 12px; font-family: "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", Tahoma, Arial, STHeiti, sans-serif; outline:none;}
input, textarea, select { *font-size: 100%; border:1px solid #e3e3e3; height:20px; line-height:20px;}
button { overflow: visible; }
a,img,a img{border:0px;}
a{text-decoration:none;cursor:pointer;transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moztransition:all 0.2s ease-in-out; color:#333;}
a:hover{text-decoration:none;} 
input:-moz-placeholder{color: #999;}  
input::-webkit-input-placeholder{color:#999;}
input{ outline:none;}
textarea{ outline:none; resize:none; font-size:12px;}
img{ vertical-align:top; -ms-interpolation-mode: bicubic; -moz-interpolation-mode: bicubic; -webkit-interpolation-mode: bicubic;/*图片缩放失真问题*/ transition: all 0.6s ease; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -ms-transition: all 0.6s ease;max-width: 100%;}

.flt{float:left;}
.frt{float:right;}
.clear{ height: 0; line-height: 0; font-size: 0; clear: both;}
.cl_both:after{content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0;}
.clearfix { display: block; *zoom: 1; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.none{ display:none;}
.inline{ display:inline-block;}

.maincl{ color:#277fd0;}
.fontcl{ color:#ff3300;}
.pointcl{ color:#fd0202;}
.black9{ color:#999;}
.black6{ color:#666;}
.black3{ color:#333;}
.black0{ color:#000;}
.whitecl{ color:#fff;}

.pagewd{ width:1200px; margin:0px auto;min-width:1200px;}
.smallpage{ width:1000px; margin:0px auto;min-width:1000px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mb20{ margin-bottom:20px;}
.pad {padding:10px; height:auto;}
.margin {margin:10px;}

.unline{ border-bottom:1px solid #eee;}
.indent { text-indent: 2em;}

.pub_btn{ display:inline-block;text-decoration:none; cursor:pointer;transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-moztransition:all 0.2s ease-in-out; height:24px; line-height:24px; border:none;  background:none #1E7ACE; color:#ffffff; font-size:12px; text-align:center; font-family:"Microsoft YaHei"; opacity:0.85;filter:alpha(opacity=85); border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px;}
.pub_btn:hover{opacity:1; filter:alpha(opacity=100); color:#fff;}

.overflow_clear{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.article p a{color:#f60;text-decoration:underline}
.article p{margin:15px 0;}
.article h2{padding-left:30px;line-height:40px;}
/**/

/*icon UI图标*/
.ico{display:inline-block; font-size:0; vertical-align:middle; background-repeat:no-repeat; background-origin:content-box;}
/*以上为通用样式部分*/

